<div id="passenger-detail-page">

  <section class="passenger-summary">
    <ul>
      <li>
        <%= image_tag "http://placekitten.com/50/50", alt: "profile pic" %>
      </li>
      <li>
        <%= @passenger.name %>
      </li>
      <li>
        <%= @passenger.phone_num %>
      </li>
      <li>
        PLACEHOLDER FOR TOTAL EARNINGS
      </li>
    </ul>
  </section>

  <section class="passenger-trips">

    <h2>Passenger Trips</h2>

    <!-- passenger trip list -->

  </section>

</div>
