<div id="driver-detail-page">

  <section class="driver-summary">
    <ul>
      <li>
        <%= image_tag "http://placekitten.com/50/50", alt: "profile pic" %>
      </li>
      <li>
        <%= @driver.name %>
      </li>
      <li>
        <%= @driver.vin %>
      </li>
      <li>
        PLACEHOLDER FOR TOTAL EARNINGS
      </li>
      <li>
        PLACEHOLDER FOR AVG RATING
      </li>
    </ul>
  </section>

  <section class="driver-trips">

    <h2>Driver Trips</h2>

    <!-- driver trip list -->

  </section>

</div>
