/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
   display: flex;
   justify-content: center;
   height: 100%;
   font-family: Futura, Sans-serif;
   color: white;
 }

 a {
   color: white;
   text-decoration: none;
 }

 .container {
   border: 1px solid black;
   background-color: black;
   height: 100%;
   min-width: 600px;
   max-width: 800px;
   display: flex;
   flex-direction: column;
   padding-bottom: 40px;
 }

 .logo {
   width: 65%;
   margin: 13px 13% 40px 15px;
   border: 1px solid white;
 }

 nav ul {
   min-width: 56%;
   margin-top: 86px;
   padding: 0;
   list-style: none;
   display: flex;
   justify-content: space-around;
   align-self: center;
 }

 nav {
   display: flex;
   justify-content: flex-start;
 }

 nav li {
   align-self: center;
   display: inline-block;
   padding-left: 18px;
   padding-right: 18px;
   padding-top: 6px;
   padding-bottom: 6px;
   border: 1px white dashed;
   border-radius: 25px;
 }

 .dropdown-content {
     display: none;
     position: absolute;
     background-color: white;
     min-width: 90px;
     margin-top: 8px;
     margin-left: -9px;
     box-shadow: 1px 2px 2px 0px rgba(0,0,0,0.2);
     padding: 4px 16px;
     z-index: 1;
 }

 .dropdown-content a {
   color: black;
 }

 .dropdown-content a:hover {
   color: slategray;
 }

 .drivers {
   margin: 20px;
 }

 .nav-links:hover .dropdown-content {
     display: block;
 }
