// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
nav ul {
  list-style: none;
}

nav li {
  display: inline-block;
}

// .unlast-item {
//   padding-bottom: 10px;
//   border-bottom: 1px solid black;
// }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 1px 2px 2px 0px rgba(0,0,0,0.2);
    padding: 4px 16px;
    z-index: 1;
}

.nav-links:hover .dropdown-content {
    display: block;
}
