// Place all the styles related to the Passengers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.entrycontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.entry {
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 14% 10% 4% 30% 29% 7%;
  border: 1px solid black;
}

.pic {
  grid-column-start: 2;
}

.name {
  grid-column-start: 4;
}

.modifications {
  grid-column-start: 5;
  justify-self: end;
}

.modify {
  padding: 5px;
}

#passengers-index form {
  display: flex;
  justify-content: center;
}

// This rule is repeated in the drivers css file but is also left here to elucidate what is going on with the layout
.search {
  margin-left: 20px;
  margin-top: 2px;
}

#passengers-index .pagination a, .current, .previous_page, .next_page {
  padding: 5px;
  border: 1px solid white;
}

#passengers-index .pagination a:hover {
  color: slategray;
  text-shadow: 2px 2px 1px lightgray;
  background-color: white;
}
